<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net472" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net472" />
  <package id="Quintsys.Practices.EnterpriseLibrary.Data" version="1.0.5.0" targetFramework="net472" />
  <package id="Quintsys.System" version="1.0.5.0" targetFramework="net472" />
</packages>